.header__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    column-gap: 2.5em;
}

@media (width < 64rem) {
    .header__menu {
        column-gap: 1.5em;
    }
}

@media (width < 48rem) {
    .header__menu {
        column-gap: 1em;
    }
}