:root {
    --white: #ffffff;
    --black: #000000;
    --grey: #f2f2f2;
    --orange: #fecda7;
    

    max-width: 80rem;
    min-width: 20rem;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
    color: var(--black);
}

  
a:hover {
    opacity: 0.7;
}