.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

@media (width < 48rem) {
  .card {
    grid-template-columns: 1fr;
  }

  .card:not(.sea .card) {
    border-bottom: 2rem solid var(--orange);
  }
}